@charset "UTF-8";
/* ШРИФТИ */
/* ПАЛІТРА КОЛЬОРІВ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

span {
  color: #2196f3;
}

.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link.current {
  position: relative;
  padding-bottom: 38px;
}

@media screen and (min-width: 1200px) {
  .nav__link.current {
    padding-bottom: 33px;
  }
}

.current {
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.page-header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.page-header__list {
  margin-left: auto;
}

.page-header__item:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .page-header__item:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .page-header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__link:hover, .page-header__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.page-header__icon {
  margin-right: 8px;
  fill: currentColor;
}

.page-header__icon:hover, .page-header__icon:focus {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .page-header__icon {
    margin-right: 10px;
  }
}

.mobile-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-burger__btn {
  z-index: 10;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-burger__btn .mobile-burger__close {
  opacity: 0;
}

.mobile-burger__btn.is-open .mobile-burger__close {
  opacity: 1;
}

.mobile-burger__btn.is-open .mobile-burger__menu {
  opacity: 0;
}

.mobile-burger__btn:hover, .mobile-burger__btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-burger__btn {
    display: none;
  }
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.mobile-overlay.is-open {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  width: 100%;
  max-height: 796px;
  background-color: #f6f2f2;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link.current {
  color: #2196f3;
}

.mobile-contacts {
  margin-top: 302px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.page-hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/mobile/mobile-hero.webp");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/mobile/mobile-hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/mobile/mobile-hero2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/mobile/mobile-hero2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .page-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/tablet/tablet-hero.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet-hero.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/tablet/tablet-hero2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet-hero2x.webp");
  }
}

@media screen and (min-width: 1200px) {
  .page-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/desctop/desctop-hero.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/desctop/desctop-hero.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4))), url("../images/desctop/desctop-hero2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url("../images/desctop/desctop-hero2x.webp");
  }
}

.page-hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.page-hero__btn {
  display: inline-block;
  padding: 8px 23px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-hero__btn:hover, .page-hero__btn:focus {
  background-color: #0873b9;
}

@media screen and (min-width: 1200px) {
  .page-hero__btn {
    padding: 8px 30px;
    min-width: 216px;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) translateY(100%);
          transform: translate(-50%, -50%) translateY(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(0%);
          transform: translate(-50%, -50%) translateY(0%);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover .modal__svg {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.modal__svg {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.field {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.field-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.field__label {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__input {
  padding-left: 42px;
  min-width: 370px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:hover, .field__input:focus {
  border-color: #2196f3;
}

.field__input:hover + .field__icon,
.field__input:focus + .field__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .field__input {
    min-width: 448px;
    min-height: 40px;
  }
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__textarea {
  padding: 12px 16px;
  min-width: 370px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__textarea:focus, .field__textarea:hover {
  border-color: #2196f3;
}

.field__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__input:checked + .checkbox__span {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/icon.svg");
  background-origin: border-box;
  background-size: contain;
}

.checkbox__span {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  color: #2196f3;
}

.field__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 50px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__btn:hover, .field__btn:focus {
  background-color: #0873b9;
}

@media screen and (min-width: 1200px) {
  .field__btn {
    margin-top: 20px;
  }
}

.page-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .page-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .page-advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .page-advantages__item {
    max-width: 450px;
  }
  .page-advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-advantages__item {
    max-width: 354px;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .page-advantages__item {
    max-width: 270px;
    margin: 0;
  }
  .page-advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.page-advantages__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.page-advantages__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .page-advantages__subtitle {
    text-align: left;
  }
}

.page-advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.page-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .page-work {
    display: block;
  }
}

.page-work {
  padding-bottom: 94px;
}

.page-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.page-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-work__item {
  position: relative;
}

.page-work__item:not(:last-child) {
  margin-right: 30px;
}

.page-work__text {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: inline-block;
  padding: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.page-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .page-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .page-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .page-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .page-team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.page-team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .page-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-team__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .page-team__item {
    margin: 0;
  }
  .page-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .page-team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .page-team__img {
    width: 270px;
    height: 260px;
  }
}

.page-team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .page-team__wrapper {
    padding-bottom: 30px;
  }
}

.page-team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.page-team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.page-team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.page-team__icon:not(:last-child) {
  margin-right: 10px;
}

.page-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-team__link:hover, .page-team__link:focus {
  background-color: coral;
}

.page-team__link:hover .page-team__svg,
.page-team__link:focus .page-team__svg {
  fill: #ffffff;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.page-team__svg {
  fill: #afb1b8;
}

.page-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .page-clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .page-clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.page-clients__item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  min-width: 210px;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-clients__item:hover {
  border-color: #2196f3;
}

.page-clients__item:hover .page-clients__svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-clients__item {
    min-width: 226px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .page-clients__item {
    width: auto;
    min-width: 170px;
    margin: 0;
  }
  .page-clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.page-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.page-clients__link:focus .page-clients__svg {
  fill: #2196f3;
}

.page-clients__svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-footer__address {
  min-width: 232px;
  margin-top: 20px;
}

.page-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .page-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__desk {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.page-footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    margin-left: 70px;
  }
}

.footer-wrapper__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-wrapper__text {
    text-align: center;
  }
}

.footer-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-wrapper__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-wrapper__item:not(:last-child) {
  margin-right: 10px;
}

.footer-wrapper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper__link:hover, .footer-wrapper__link:focus {
  background-color: coral;
}

@media screen and (min-width: 1200px) {
  .footer-field {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-field__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-field__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-field__form {
    text-align: center;
  }
}

.footer-field__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 50px;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.footer-field__input:focus-within {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-field__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-field__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-field__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-field__input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field__input {
    min-width: 358px;
  }
}

.footer-field__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field__btn:hover, .footer-field__btn:focus {
  background-color: #0873b9;
}

@media screen and (min-width: 1200px) {
  .footer-field__btn {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
  }
}

.footer-field__svg {
  margin-left: 10px;
}

.page-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .page-portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .page-portfolio__list {
    margin-bottom: 50px;
  }
}

.page-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .page-portfolio__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.page-portfolio__btn {
  display: inline-block;
  padding: 6px 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-portfolio__btn:hover, .page-portfolio__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .page-portfolio__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.page-portfolio__subitem {
  -webkit-transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .page-portfolio__subitem {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .page-portfolio__subitem {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .page-portfolio__subitem {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.page-portfolio__subitem:hover .page-portfolio__text {
  /* transform: translateY(0); */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.page-portfolio__subitem:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.page-portfolio__overlay {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .page-portfolio__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .page-portfolio__img {
    width: 370px;
    height: 294px;
  }
}

.page-portfolio__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  /* transform: translateY(-100%); */
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-portfolio__text {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .page-portfolio__text {
    padding: 63px 24px;
  }
}

.page-portfolio__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .page-portfolio__wrapper {
    padding: 20px 24px 58px 24px;
  }
}

.page-portfolio__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.page-portfolio__desc {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */