.page-advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.page-advantages__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.page-advantages__thumb {
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $background-color;
}

.page-advantages__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.page-advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-color;
}

// ----------------------------------------------
// .page-advantages__list {
//   display: flex;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .page-advantages__item {
//   min-width: 270px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .page-advantages__thumb {
//   display: flex;
//   justify-content: center;
//   height: 120px;
//   margin-bottom: 30px;
//   background-color: $background-color;
// }
// .page-advantages__subtitle {
//   margin-bottom: 10px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }
// .page-advantages__text {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: $secondary-color;
// }
