body {
  font-family: $main-font;
  color: $main-color;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
span {
  color: $accent-color;
}
.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}
