body {
  font-family: $main-font;
  color: $main-color;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
span {
  color: $accent-color;
}
.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

// .element {
//   Flex-basis(width): calc((100% - к-сть марджинів в рядку * значення марджину) / к-сть элементів в рядку);
// }
